@media(min-width:768px){.elementor-184 .elementor-element.elementor-element-daa59e0{width:47%;}.elementor-184 .elementor-element.elementor-element-7d934cf{width:5.6%;}.elementor-184 .elementor-element.elementor-element-3521d72{width:47.038%;}}